modules = ["web", "python-3.12"]
run = "uvicorn undefined:app --host 0.0.0.0 --port 3000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn undefined:app --host 0.0.0.0 --port 3000"]

[workflows]
runButton = "Run App"

[[workflows.workflow]]
name = "Run App"
author = 40812277
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m uvicorn backend.main:app --host 0.0.0.0 --port 5000"

[[ports]]
localPort = 8000
externalPort = 80
